<%= form_for [product, pic], html: { multipart: true } do |f| %>
   <div class="form-all form-group">
     <%= f.label :image %>
     <%= f.file_field :image, required: true %>
   </div>
   <%= f.submit "Submit", class: 'btn btn-default' %>
 <% end %>
