/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require lightbox
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import 'lightbox';
@import "font-awesome-sprockets";
@import "font-awesome";


html {
  position: relative;
  min-height: 100%;
}

body {
   margin: 0 0 75px;
}

 .navbar-top {
   background-color: #fafafa;
   border-bottom: 1px solid rgba(1,1,1,.1);
   top: 0;
   z-index: 100;
   width: 100%;
   padding-top: 15px;
   height: 100px;

    li {
      list-style: none;
      float: left;
      margin-left: 15px;
    }

    img {
      height: 80px;
      margin-top: -9px;
    }

    a {
      font-size: 19px;
      color: black;
      font-weight: 400;
        &:hover {
          text-decoration: none;
        }
    }
 }

 #nav-links {
   margin-top: 20px;
   margin-left: 10px;

    li:nth-child(1) {
      margin-left: 50px;
    }
 }

.alert-wrapper {
  position: absolute;
  z-index: 1000;
  padding: 15px;
  background: tomato;
  width: 100%;
  text-align: center;
  color: white;
  font-weight: 300;
  font-size: 16px;
  letter-spacing: .5px;
  margin-top: 15px;
}

 .cart-btn {
   margin-right: 25px;

    i {
      font-size: 26px;
    }
 }

 #social-btn {
     i{
      font-size: 26px;
     }
 }

 .title {
    font-size: 45px;
    border-bottom: 1px solid rgba(1,1,1,.1);
    color: #444444;
    font-weight: 300;
 }

 .footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding-top: 10px;
  background-color: rgba(1,1,1,.6);
  color: white;

    ul {
      float: left;
      list-style: none;
      li {
        float: left;
        margin-left: 15px;
        font-size: 16px;
      }
  }
}

.search-bar {
   input[type="text"] {
     border-radius: 5px;
     border: 1px solid rgba(1,1,1,.2);
    }

    .btn {
      background-color: inherit;
      border: none;
    }
}
