.cart-title {
  font-size: 45px;
  color: #444444;
  font-weight: 300;
  margin-left: 50px;
  margin-right: 50px;
}

.table-cart {
  margin-left: 50px;
  margin-right: 50px;
  border-bottom: 2px solid rgba(1,1,1,.2);

    td {
      font-size: 16px;
    }
}

.cart-checkout {
  margin-right: 190px;
  margin-top: 20px;

    p {
      font-size: 20px;
    }
}
