// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#myCarousel {
  position: relative;
  top: 0;
}

.featured {
  text-align: center;
  margin-bottom: 75px;

    h1 {
      font-weight: 300;
    }

    img {
      height: 200px;
      margin: 20px;
    }
}
