// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#myCarousel {
  position: relative;
  top: 0;
}

.thumbnail-info {
  text-align: center;
  &:hover p {
    opacity: 1;
  }
}

.feature-item {
  margin-top: 75px;
    img {
      height: 450px;
      width: 100%;
      transition: .5s ease;
      backface-visibility: hidden;
      &:hover {
        opacity: .6;
      }
    }
}

.feature-item:hover #feature-cap{
  opacity: 1;
}

#feature-cap {
  position: absolute;
  transition: .5s ease;
  opacity: 0;
  z-index: 100;
  left: 500px;
  margin-top: -300px;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);

    p {
      font-size: 55px;
      font-weight: 700;
    }

    a {
      font-size: 35px;
      color: white;
        &:hover {
          color: #1b1d1c;
        }
    }

    .btn {
      border: 1px solid #1b1d1c;
      background-color: #1b1d1c;
      &:hover {
        background-color: white;
        border: 1px solid white;
      }
    }
}

.featured {
  text-align: center;
  margin-bottom: 75px;

    h1 {
      font-weight: 600;
      text-transform: uppercase;
    }

    p {
      position: absolute;
      top: 100px;
      left: 0;
      right: 0;
      font-size: 16px;
      opacity: 0;
      transition: all 0.5s;
      color: white;
      font-size: 18px;
      text-shadow: 0 0 10px black;
          &:hover {
            text-decoration: none;
          }
        }

    img {
      height: 200px;
      margin: 20px;
      -webkit-transition: all 1s ease;
      -moz-transition: all 1s ease;
       -ms-transition: all 1s ease;
           transition: all 1s ease;
           filter: blur(0);
      -webkit-filter: blur(0);
      -moz-filter: blur(0);
      -ms-filter: blur(0);

       &:hover {
         -moz-transform: scale(1.1);
         -webkit-transform: scale(1.1);
         transform: scale(1.1);
         filter: blur(100px);
        -webkit-filter: blur(100px);
        -moz-filter: blur(100px);
        -ms-filter: blur(100px);
          filter: url(#blur1);

          filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='5');
       }
     }
}

.feature-image {
  margin-bottom: 20px;

    img {
      -webkit-transition: all 1s ease;
      -moz-transition: all 1s ease;
       -ms-transition: all 1s ease;
           transition: all 1s ease;
           &:hover {
             -moz-transform: scale(1.05);
             -webkit-transform: scale(1.05);
             transform: scale(1.05);
           }
    }
}

.image-caption {
  position: absolute;
  font-size: 36px;
  font-weight: 600;
  text-transform: uppercase;
  left: 50px;
  margin-top: -380px;
}

#cap {
  margin-top: -720px;
}

#carousel-item{
  margin-bottom: 100px;
  animation: fadeIn 1.5s;
   -moz-animation: fadeIn 1.5s; /* Firefox */
   -webkit-animation: fadeIn 1.5s; /* Safari and Chrome */
   -o-animation: fadeIn 1.5s; /* Opera */

    h1 {
        font-size: 60px;
        font-weight: 200;
      }

    a {
      font-size: 25px;
      color: white;
    }

    .btn {
      border: 2px solid white;
    }
}

@keyframes fadeIn {
    from {
        top: 0px;
        opacity:0;
    }
    to {
        top: 250px;
        opacity:1;
    }
}

@-webkit-@keyframes fadeIn {
    from {
        top: 0px;
        opacity:0;
    }
    to {
        top: 245px;
        opacity:1;
    }
}
