// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.products-index {
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 200px;
}

.item-info {
  list-style: none;
  text-align: center;
  &:hover .item-cap {
    opacity: 1;
  }
}

.item-cap {
  border: 2px solid rgba(255,255,255,.5);
  width: 50%;
  padding: 10px;
  font-family: 'Abril Fatface', cursive;
  font-size: 2rem;
  letter-spacing: 1px;
  font-weight: 200;
  text-shadow: 0 0 10px black;
  color: white;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: 0;
  margin-bottom: 100px;
  opacity: 0;
  transition: all 0.5s;
  a {
    color: white;
    font-size: 2.5rem;
    letter-spacing: 1px;
    &:hover {
      text-decoration: none;
      color: grey;
    }
  }
}

.img-tog {
  img{
    height: 300px;
    width: 400px;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
    filter: blur(0);
    -webkit-filter: blur(0);
    -moz-filter: blur(0);
    -ms-filter: blur(0);
    &:hover {
      -moz-transform: scale(1.1);
      -webkit-transform: scale(1.1);
      transform: scale(1.1);
      filter: blur(100px);
      -webkit-filter: blur(100px);
      -moz-filter: blur(100px);
      -ms-filter: blur(100px);
      filter: url(#blur1);

      filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='5');
    }
  }
}

@media screen and (max-width: 1000px) {
  .img-tog img {
    width: 100%;
    height: auto;
    margin-bottom: 15px;
  }
}

.products-page {
  padding-top: 20px;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 125px;
}

.product-info {
  min-height: 600px;
  img {
    height: 600px;
  }
  h1 {
    color: #333d47;
  }
  h2 {
    font-weight: 200;
    color: tomato;
  }
  p {
    font-size: 16px;
    font-weight: 300;
    color: grey;
  }
}

.product-thumbnails {
  margin-top: 40px;
  margin-right: -65px;
  min-height: 400px;
  img {
    height: 250px;
    width: 320px;
  }
}

.checkout-btn {
  .btn {
    background-color: tomato;
    border: 1px solid tomato;
   }
  a {
    color: white;
    font-size: 20px;
    font-weight: 200;
    &:hover {
      text-decoration: none;
    }
  }
}
