// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.products-index {
  margin-left: 50px;
  margin-right: 50px;
}

.item-info {
  text-align: center;
  &:hover .item-cap {
    opacity: 1;
  }
}

.item-cap {
  font-size: 28px;
  letter-spacing: 1px;
  font-weight: 200;
  text-shadow: 0 0 10px black;
  color: white;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  margin-top: -190px;
  opacity: 0;
  transition: all 0.5s;
    a {
      color: white;
      font-size: 28px;
      &:hover {
        text-decoration: none;
      }
    }
}

.img-tog {
    img{
    height: 300px;
    width: 400px;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
     -ms-transition: all 1s ease;
         transition: all 1s ease;
         filter: blur(0);
    -webkit-filter: blur(0);
    -moz-filter: blur(0);
    -ms-filter: blur(0);

     &:hover {
       -moz-transform: scale(1.1);
       -webkit-transform: scale(1.1);
       transform: scale(1.1);
       filter: blur(100px);
      -webkit-filter: blur(100px);
      -moz-filter: blur(100px);
      -ms-filter: blur(100px);
        filter: url(#blur1);

        filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='5');
     }
   }
}

.products-page {
  padding-top: 20px;
  margin-left: 50px;
  margin-right: 50px;
}

.product-info {
  min-height: 600px;

  img {
    height: 600px;
  }

  h1 {
    color: #333d47;
  }

  h2 {
    font-weight: 200;
  }

  p {
    font-size: 16px;
    font-weight: 300;
    color: grey;
  }
}

.product-thumbnails {
  margin-top: 40px;
  margin-right: -65px;
  min-height: 400px;

    img {
      height: 250px;
      width: 320px;
    }
}

.checkout-btn {
  .btn {
    background-color: tomato;
    border: 1px solid tomato;
   }

  a {
    color: white;
    font-size: 20px;
    font-weight: 200;
    &:hover {
      text-decoration: none;
    }
  }
}
