<div class="products-index">
  <h1 class="title">Browse all our products</h1>
  <div class="row">
    <% @products.each do |product| %>
      <div class="item-info col-md-4">
        <li class="img-tog"><%= link_to image_tag(product.image.url(:medium)), product%></li>
        <p class="item-cap"><%= link_to product.name, product %></p></br></br>
        <p class="item-cap"><%= number_to_currency(product.price)%></p></br>
      </div>
    <% end %>
  </div>
</div>

<svg xmlns="http://www.w3.org/2000/svg">
  <filter id="blur1">
    <feGaussianBlur stdDeviation="3"/>
  </filter>
</svg>
