<h1>Products</h1>
<section>
  <div>
    <% @products.each do |product| %>
      <%= image_tag(product.image.url(:medium)) %>
      <p><%= product.name %></p>
      <p><%= product.price %></p>
      <p><%= product.description %></p>
    <% end %>
  </div>
</section>
